:root {
  --main: #212121;
  --gray: #f4f4f4;
}

@font-face {
  font-family: 'Neue Helvetica Light';
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: url('../fonts/HelveticaNeueCyr-UltraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Neue Helvetica';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2');
}

@font-face {
  font-family: 'Neue Helvetica Bold';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2');
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Neue Helvetica', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--main);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 5rem 16rem 1fr;
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 89rem;
  min-height: 100vh;
  font-size: 1.3rem;
  background-color: #fff;
}

.header {
  z-index: 1;
  grid-column: 4 / 9;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1.5px solid var(--main);
  background-color: #fff;
}

.sidebar {
  padding: 21rem 4rem 0 7rem;
  grid-column: 1 / 5;
  grid-row: 1 / -1;
  background-color: var(--gray);
}

.main {
  grid-column: 5 / -1;
  grid-row: 3 / -1;
}

.title,
.subtitle,
.heading {
  font-family: 'Neue Helvetica Bold', sans-serif;
}

.title {
  margin-bottom: 1rem;
  font-size: 3.6rem;
  letter-spacing: 1px;
}

.subtitle {
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  font-weight: 300;
  text-transform: uppercase;
}

.heading {
  display: block;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1.5px solid var(--main);
}

.link:link,
.link:visited {
  letter-spacing: 0.5px;
  color: #212121;
}

.range {
  margin-bottom: 1rem;
}

.range span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--main);
}

.range span.empty {
  border: 1px solid var(--main);
  background-color: #fff;
}

/* Sidebar */

.sidebar > *:not(:last-child) {
  margin-bottom: 4rem;
}

.contact {
  padding-top: 5rem;
}

.contact__item {
  margin-bottom: 0.8rem;
}

.contact__title {
  margin-bottom: 0.3rem;
  font-family: 'Neue Helvetica Bold', sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.main {
  padding: 5rem 7rem 0 3rem;
}
